%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_url, class: "navbar-brand" do
        .fa.fa-star

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "About", about_path
        %li
          = link_to "Contact Us", contact_path
        %li
          = link_to "Dance", dance_path
      - if current_user && current_user.is_admin
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to "Admin Dashboard", admin_dashboard_url
          %li
            = link_to edit_user_registration_path, class: "nav-link" do
              .fa.fa-gear
          %li
            = link_to destroy_user_session_path, :method => :delete, class: "nav-link" do
              .fa.fa-sign-out
